labcom.cloud.json
[
    {
        "id": "4abd14ed2dee35be",
        "type": "tab",
        "label": "Poolab cloud",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be945c7e3872c3de",
        "type": "inject",
        "z": "4abd14ed2dee35be",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "079b20fbc9c5c6cd"
            ]
        ]
    },
    {
        "id": "f8574e6a247c75cc",
        "type": "graphql",
        "z": "4abd14ed2dee35be",
        "name": "Measurements",
        "graphql": "e2532d3071476e10",
        "format": "handlebars",
        "template": "{\n  Measurements {\n    accountId\n    account\n    id\n    unit\n    parameter\n    timestamp\n    comment\n    value\n    device_serial\n    operator_name\n   }\n}\n",
        "syntax": "mustache",
        "token": "",
        "showDebug": false,
        "x": 680,
        "y": 460,
        "wires": [
            [
                "c3ba26d66f7a3f43",
                "3efc6cae58abacdd"
            ],
            [
                "ec84389011b96ae3"
            ]
        ]
    },
    {
        "id": "c3ba26d66f7a3f43",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "079b20fbc9c5c6cd",
        "type": "change",
        "z": "4abd14ed2dee35be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "customHeaders.Authorization",
                "pt": "msg",
                "to": "TOKEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "f8574e6a247c75cc"
            ]
        ]
    },
    {
        "id": "ec84389011b96ae3",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 520,
        "wires": []
    },
    {
        "id": "e65c48e915a76e38",
        "type": "split",
        "z": "4abd14ed2dee35be",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1330,
        "y": 460,
        "wires": [
            [
                "c0b450864738d7ab",
                "96d0d4180af7fc31"
            ]
        ]
    },
    {
        "id": "c0b450864738d7ab",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 400,
        "wires": []
    },
    {
        "id": "162b46fe5995de39",
        "type": "switch",
        "z": "4abd14ed2dee35be",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Measurements",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ActiveChlorine",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 780,
        "wires": [
            [
                "0946e302f038f2d7",
                "fee344da40f7b1a1"
            ],
            [
                "b048d0ad330caab5"
            ]
        ]
    },
    {
        "id": "0946e302f038f2d7",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "Measurements Array",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 740,
        "wires": []
    },
    {
        "id": "b048d0ad330caab5",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "ActiveChlorine",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 840,
        "wires": []
    },
    {
        "id": "96d0d4180af7fc31",
        "type": "split",
        "z": "4abd14ed2dee35be",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "162b46fe5995de39",
                "660ee2960d12b814"
            ]
        ]
    },
    {
        "id": "660ee2960d12b814",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 840,
        "wires": []
    },
    {
        "id": "fee344da40f7b1a1",
        "type": "split",
        "z": "4abd14ed2dee35be",
        "name": "measurements",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 600,
        "y": 780,
        "wires": [
            [
                "ab22a3a4d061e283",
                "aa8361c1aa76875c"
            ]
        ]
    },
    {
        "id": "ab22a3a4d061e283",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "Measurements",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 720,
        "wires": []
    },
    {
        "id": "22cb6e756a5461e6",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "PL Chlorine Free",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2270,
        "y": 540,
        "wires": []
    },
    {
        "id": "d8e5a9b6af1992a5",
        "type": "switch",
        "z": "4abd14ed2dee35be",
        "name": "parameter",
        "property": "payload.parameter",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "PL Chlorine Free",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "PL T-Alka",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "PL Cyanuric Acid",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "PL pH",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 4,
        "x": 1570,
        "y": 700,
        "wires": [
            [
                "69707c2a7ab99ac3"
            ],
            [
                "ff4f47b49055c697"
            ],
            [
                "97b6205279d17794"
            ],
            [
                "faf68d0ca6835200"
            ]
        ]
    },
    {
        "id": "8e6c69ffdd35a6cb",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "PL T-Alka",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2240,
        "y": 640,
        "wires": []
    },
    {
        "id": "93240b14dd13a1e9",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "PL Cyanuric Acid",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2270,
        "y": 740,
        "wires": []
    },
    {
        "id": "c997996e40f6eca4",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "PL pH",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2230,
        "y": 840,
        "wires": []
    },
    {
        "id": "3efc6cae58abacdd",
        "type": "change",
        "z": "4abd14ed2dee35be",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "customHeaders",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 460,
        "wires": [
            [
                "e65c48e915a76e38"
            ]
        ]
    },
    {
        "id": "69707c2a7ab99ac3",
        "type": "function",
        "z": "4abd14ed2dee35be",
        "name": "count logic",
        "func": "\nvar name = 'pl';\nvar type = 'chlorinefree'\nvar count = flow.get(name + type + 'count') || 0;\nvar id = msg.payload.id;\nif(id > count)\n{\n    ++count;\n    flow.set(name + type + 'count', count);\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\nelse if(id == count)\n{\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\n    return [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 580,
        "wires": [
            [
                "22cb6e756a5461e6",
                "f9e0be96dde29992"
            ],
            []
        ]
    },
    {
        "id": "f9e0be96dde29992",
        "type": "ha-sensor",
        "z": "4abd14ed2dee35be",
        "name": "PL Chlorine Free",
        "entityConfig": "a92f7ee6b8f42b81",
        "version": 0,
        "state": "payload.value",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            },
            {
                "property": "accountid",
                "value": "payload.accountId",
                "valueType": "msg"
            }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2270,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "a32eeb804f6766d2",
        "type": "ha-sensor",
        "z": "4abd14ed2dee35be",
        "name": "PL T-Alka",
        "entityConfig": "cb3cdfb87ad20e82",
        "version": 0,
        "state": "payload.value",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2240,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "2b42366eac47ad43",
        "type": "ha-sensor",
        "z": "4abd14ed2dee35be",
        "name": "PL Cyanuric Acid",
        "entityConfig": "2053ebe80b1475f9",
        "version": 0,
        "state": "payload.value",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2270,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "6d64ee8e9ff908de",
        "type": "ha-sensor",
        "z": "4abd14ed2dee35be",
        "name": "PL Ph",
        "entityConfig": "970e543b6b175a31",
        "version": 0,
        "state": "payload.value",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2230,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "7c5107e17411b801",
        "type": "comment",
        "z": "4abd14ed2dee35be",
        "name": "TOKEN",
        "info": "Set TOKEN from https://labcom.cloud/pages/user-setting",
        "x": 310,
        "y": 420,
        "wires": []
    },
    {
        "id": "e3913ae9983a324a",
        "type": "comment",
        "z": "4abd14ed2dee35be",
        "name": "Graphql",
        "info": "Query the labcom graphql endpoint.",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "fa6541f2e00752a9",
        "type": "comment",
        "z": "4abd14ed2dee35be",
        "name": "Only update latest reading",
        "info": "Each measurement in an object, \neach object has an id. \nStore the largest id and do not \nupdate readings already read",
        "x": 1410,
        "y": 700,
        "wires": []
    },
    {
        "id": "b0a4ef3f9c7f66ae",
        "type": "catch",
        "z": "4abd14ed2dee35be",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "856d688c8f0b46e8"
            ]
        ]
    },
    {
        "id": "856d688c8f0b46e8",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "aa8361c1aa76875c",
        "type": "function",
        "z": "4abd14ed2dee35be",
        "name": "accountid",
        "func": "var accountid = msg.payload.accountId;\nif (accountid == 1) {\n    return [msg, null, null];\n}\nelse if(accountid == 2)\n    return [null, msg, null];\nelse\n    return [null, null, msg];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 760,
        "wires": [
            [
                "7e86b7aec50f4044",
                "d8e5a9b6af1992a5"
            ],
            [
                "96e2b64cc60adcda",
                "c0999f966e08aa5c"
            ],
            [
                "bd08721fc61882e0"
            ]
        ]
    },
    {
        "id": "7e86b7aec50f4044",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 660,
        "wires": []
    },
    {
        "id": "c0999f966e08aa5c",
        "type": "switch",
        "z": "4abd14ed2dee35be",
        "name": "parameter",
        "property": "payload.parameter",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "PL Chlorine Free",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "PL T-Alka",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "PL Cyanuric Acid",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "PL pH",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 4,
        "x": 1570,
        "y": 1100,
        "wires": [
            [
                "d4d25fefab1be46d"
            ],
            [
                "2fb62adf23791cdf"
            ],
            [
                "a29d59a6358716ba"
            ],
            [
                "c9e77b21ac43c177"
            ]
        ]
    },
    {
        "id": "96e2b64cc60adcda",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 820,
        "wires": []
    },
    {
        "id": "bd08721fc61882e0",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 980,
        "wires": []
    },
    {
        "id": "bcb00844d998c90a",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "SPA PL pH",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2250,
        "y": 1300,
        "wires": []
    },
    {
        "id": "881d4ba0e8389de6",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "SPA PL Cyanuric Acid",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2280,
        "y": 1200,
        "wires": []
    },
    {
        "id": "7efd051d1285f2ee",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "SPA PL T-Alka",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2260,
        "y": 1100,
        "wires": []
    },
    {
        "id": "123dd67bc0cef4d0",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "SPA PL Chlorine Free",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2280,
        "y": 1000,
        "wires": []
    },
    {
        "id": "8bd4a9c9e4e8443a",
        "type": "comment",
        "z": "4abd14ed2dee35be",
        "name": "Map to sensor",
        "info": "",
        "x": 1570,
        "y": 620,
        "wires": []
    },
    {
        "id": "ecb312284ffe4aed",
        "type": "comment",
        "z": "4abd14ed2dee35be",
        "name": "Map to sensor",
        "info": "",
        "x": 1570,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b0978cb48abf02ad",
        "type": "comment",
        "z": "4abd14ed2dee35be",
        "name": "Map accountid to pool or spa",
        "info": "Each measurement in an object, \neach object has an id. \nStore the largest id and do not \nupdate readings already read",
        "x": 1120,
        "y": 700,
        "wires": []
    },
    {
        "id": "1b905b0956b0c85e",
        "type": "inject",
        "z": "4abd14ed2dee35be",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 1640,
        "wires": [
            [
                "f3f3861daf994b0c"
            ]
        ]
    },
    {
        "id": "3fb55e60745be3a7",
        "type": "graphql",
        "z": "4abd14ed2dee35be",
        "name": "Activeclorine",
        "graphql": "e2532d3071476e10",
        "format": "handlebars",
        "template": "\n\n{\n  ActiveChlorine (temperature: {{variables.input.pltemp}}, pH: {{variables.input.plph}}, chlorine: {{variables.input.plcl}}, cya: {{variables.input.plcya}}) {\n    UnboundChlorine\n    BoundToCYA\n    OCl\n    Cl3Cy\n    Cl2Cy\n    HOCl\n    HClCy\n    HCl2Cy\n    H2ClCy\n  }\n}\n",
        "syntax": "mustache",
        "token": "",
        "showDebug": false,
        "x": 1610,
        "y": 1580,
        "wires": [
            [
                "929d10e00d30b10a",
                "e56489b0ad3391bc"
            ],
            [
                "07115ffb23719484"
            ]
        ]
    },
    {
        "id": "929d10e00d30b10a",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 1520,
        "wires": []
    },
    {
        "id": "9de108fb3e93c56f",
        "type": "change",
        "z": "4abd14ed2dee35be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "customHeaders.Authorization",
                "pt": "msg",
                "to": "TOKEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 1580,
        "wires": [
            [
                "08a15846b74b136e",
                "3fb55e60745be3a7"
            ]
        ]
    },
    {
        "id": "07115ffb23719484",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 1640,
        "wires": []
    },
    {
        "id": "5017d9290d8bbb15",
        "type": "comment",
        "z": "4abd14ed2dee35be",
        "name": "TOKEN",
        "info": "Set TOKEN from https://labcom.cloud/pages/user-setting",
        "x": 1230,
        "y": 1520,
        "wires": []
    },
    {
        "id": "e56489b0ad3391bc",
        "type": "change",
        "z": "4abd14ed2dee35be",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "customHeaders",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1880,
        "y": 1580,
        "wires": [
            [
                "c9e7ea1d08eea0cd"
            ]
        ]
    },
    {
        "id": "023ac83f7805a634",
        "type": "comment",
        "z": "4abd14ed2dee35be",
        "name": "update logic",
        "info": "update last and newer",
        "x": 1830,
        "y": 500,
        "wires": []
    },
    {
        "id": "6ed796ba7244b255",
        "type": "comment",
        "z": "4abd14ed2dee35be",
        "name": "update logic",
        "info": "update last and newer",
        "x": 1850,
        "y": 980,
        "wires": []
    },
    {
        "id": "ff4f47b49055c697",
        "type": "function",
        "z": "4abd14ed2dee35be",
        "name": "count logic",
        "func": "\nvar name = 'pl';\nvar type = 'talka'\nvar count = flow.get(name + type + 'count') || 0;\nvar id = msg.payload.id;\nif(id > count)\n{\n    ++count;\n    flow.set(name + type + 'count', count);\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\nelse if(id == count)\n{\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\n    return [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 660,
        "wires": [
            [
                "a32eeb804f6766d2",
                "8e6c69ffdd35a6cb"
            ],
            []
        ]
    },
    {
        "id": "97b6205279d17794",
        "type": "function",
        "z": "4abd14ed2dee35be",
        "name": "count logic",
        "func": "\nvar name = 'pl';\nvar type = 'cya'\nvar count = flow.get(name + type + 'count') || 0;\nvar id = msg.payload.id;\nif(id > count)\n{\n    ++count;\n    flow.set(name + type + 'count', count);\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\nelse if(id == count)\n{\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\n    return [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 720,
        "wires": [
            [
                "2b42366eac47ad43",
                "93240b14dd13a1e9"
            ],
            []
        ]
    },
    {
        "id": "faf68d0ca6835200",
        "type": "function",
        "z": "4abd14ed2dee35be",
        "name": "count logic",
        "func": "\nvar name = 'pl';\nvar type = 'ph'\nvar count = flow.get(name + type + 'count') || 0;\nvar id = msg.payload.id;\nif(id > count)\n{\n    ++count;\n    flow.set(name + type + 'count', count);\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\nelse if(id == count)\n{\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\n    return [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 780,
        "wires": [
            [
                "6d64ee8e9ff908de",
                "c997996e40f6eca4"
            ],
            []
        ]
    },
    {
        "id": "d4d25fefab1be46d",
        "type": "function",
        "z": "4abd14ed2dee35be",
        "name": "count logic",
        "func": "\nvar name = 'spa';\nvar type = 'chlorinefree'\nvar count = flow.get(name + type + 'count') || 0;\nvar id = msg.payload.id;\nif(id > count)\n{\n    ++count;\n    flow.set(name + type + 'count', count);\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\nelse if(id == count)\n{\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\n    return [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1020,
        "wires": [
            [
                "123dd67bc0cef4d0",
                "1c87f3f598b1e1d7"
            ],
            []
        ]
    },
    {
        "id": "2fb62adf23791cdf",
        "type": "function",
        "z": "4abd14ed2dee35be",
        "name": "count logic",
        "func": "\nvar name = 'spa';\nvar type = 'talka'\nvar count = flow.get(name + type + 'count') || 0;\nvar id = msg.payload.id;\nif(id > count)\n{\n    ++count;\n    flow.set(name + type + 'count', count);\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\nelse if(id == count)\n{\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\n    return [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1100,
        "wires": [
            [
                "7efd051d1285f2ee",
                "8816ac67d53eb8d3"
            ],
            []
        ]
    },
    {
        "id": "a29d59a6358716ba",
        "type": "function",
        "z": "4abd14ed2dee35be",
        "name": "count logic",
        "func": "\nvar name = 'spa';\nvar type = 'cya'\nvar count = flow.get(name + type + 'count') || 0;\nvar id = msg.payload.id;\nif(id > count)\n{\n    ++count;\n    flow.set(name + type + 'count', count);\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\nelse if(id == count)\n{\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\n    return [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1160,
        "wires": [
            [
                "881d4ba0e8389de6",
                "9bdab7811a5dca11"
            ],
            []
        ]
    },
    {
        "id": "c9e77b21ac43c177",
        "type": "function",
        "z": "4abd14ed2dee35be",
        "name": "count logic",
        "func": "\nvar name = 'spa';\nvar type = 'ph'\nvar count = flow.get(name + type + 'count') || 0;\nvar id = msg.payload.id;\nif(id > count)\n{\n    ++count;\n    flow.set(name + type + 'count', count);\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\nelse if(id == count)\n{\n    flow.set(name + type, msg.payload.value);\n    return [msg, null];\n}\n    return [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1220,
        "wires": [
            [
                "bcb00844d998c90a",
                "dc5523d9d7653c06"
            ],
            []
        ]
    },
    {
        "id": "8d54f720315d208b",
        "type": "complete",
        "z": "4abd14ed2dee35be",
        "name": "",
        "scope": [
            "f9e0be96dde29992",
            "a32eeb804f6766d2",
            "2b42366eac47ad43",
            "6d64ee8e9ff908de"
        ],
        "uncaught": false,
        "x": 110,
        "y": 1580,
        "wires": [
            [
                "f3f3861daf994b0c"
            ]
        ]
    },
    {
        "id": "c9e7ea1d08eea0cd",
        "type": "split",
        "z": "4abd14ed2dee35be",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 2110,
        "y": 1580,
        "wires": [
            [
                "00d107e987d0ed1a"
            ]
        ]
    },
    {
        "id": "00d107e987d0ed1a",
        "type": "switch",
        "z": "4abd14ed2dee35be",
        "name": "ActiveChlorine",
        "property": "payload.ActiveChlorine",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 1,
        "x": 2300,
        "y": 1580,
        "wires": [
            [
                "ebd6b639a5e10850",
                "d1f0a953c85950f2",
                "dc4a72f64cc52aca"
            ]
        ]
    },
    {
        "id": "5cf8cf4e8fed591f",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1460,
        "wires": []
    },
    {
        "id": "304ad41b5c879caa",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1740,
        "wires": []
    },
    {
        "id": "08a15846b74b136e",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1400,
        "wires": []
    },
    {
        "id": "f3f3861daf994b0c",
        "type": "delay",
        "z": "4abd14ed2dee35be",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 380,
        "y": 1580,
        "wires": [
            [
                "5cf8cf4e8fed591f",
                "bef9af9817536cfb"
            ],
            [
                "304ad41b5c879caa"
            ]
        ]
    },
    {
        "id": "829d268d4a9107b5",
        "type": "function",
        "z": "4abd14ed2dee35be",
        "name": "compose message",
        "func": "var name = 'pl';\nvar type = 'chlorinefree'\nvar plcl = flow.get(name + type) || 0;\nvar name = 'pl';\nvar type = 'talka'\nvar pltalka = flow.get(name + type) || 0;\nvar name = 'pl';\nvar type = 'cya'\nvar plcya = flow.get(name + type) || 0;\nvar name = 'pl';\nvar type = 'ph'\nvar plph = flow.get(name + type) || 0;\n\nvar temp = msg.payload;\nif (temp == \"unavailable\")\n    temp = \"25\";\nmsg.variables = {\n    \"input\": {\n        \"plcl\": plcl,\n        \"pltalka\": pltalka,\n        \"plcya\": plcya,\n        \"plph\": plph,\n        \"pltemp\": temp\n    }\n}\n\nmsg.payload = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1580,
        "wires": [
            [
                "9de108fb3e93c56f"
            ]
        ]
    },
    {
        "id": "bef9af9817536cfb",
        "type": "api-current-state",
        "z": "4abd14ed2dee35be",
        "name": "temp",
        "server": "22775648.73a4ca",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.temp_3",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 650,
        "y": 1580,
        "wires": [
            [
                "829d268d4a9107b5"
            ]
        ]
    },
    {
        "id": "fd5fc34e82c38a36",
        "type": "comment",
        "z": "4abd14ed2dee35be",
        "name": "POOL ACTIVE CHOLINE",
        "info": "",
        "x": 130,
        "y": 1440,
        "wires": []
    },
    {
        "id": "ebd6b639a5e10850",
        "type": "ha-sensor",
        "z": "4abd14ed2dee35be",
        "name": "PL UnboundChlorine",
        "entityConfig": "1a33921cc8e552fe",
        "version": 0,
        "state": "payload.ActiveChlorine.UnboundChlorine",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2620,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "d1f0a953c85950f2",
        "type": "ha-sensor",
        "z": "4abd14ed2dee35be",
        "name": "PL BoundToCYA",
        "entityConfig": "60349df50a72126e",
        "version": 0,
        "state": "payload.ActiveChlorine.BoundToCYA",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2610,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "dc4a72f64cc52aca",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2580,
        "y": 1400,
        "wires": []
    },
    {
        "id": "04fbbde5b369e413",
        "type": "inject",
        "z": "4abd14ed2dee35be",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 2080,
        "wires": [
            [
                "14bc7eccd41b388b"
            ]
        ]
    },
    {
        "id": "874860de72ce5e68",
        "type": "graphql",
        "z": "4abd14ed2dee35be",
        "name": "Activeclorine",
        "graphql": "e2532d3071476e10",
        "format": "handlebars",
        "template": "\n\n{\n  ActiveChlorine (temperature: {{variables.input.spatemp}}, pH: {{variables.input.spaph}}, chlorine: {{variables.input.spacl}}, cya: {{variables.input.spacya}}) {\n    UnboundChlorine\n    BoundToCYA\n    OCl\n    Cl3Cy\n    Cl2Cy\n    HOCl\n    HClCy\n    HCl2Cy\n    H2ClCy\n  }\n}\n",
        "syntax": "mustache",
        "token": "",
        "showDebug": false,
        "x": 1610,
        "y": 2020,
        "wires": [
            [
                "5b51c5762458ce7e",
                "c181bf270fb15b83"
            ],
            [
                "0b586f781013afbd"
            ]
        ]
    },
    {
        "id": "5b51c5762458ce7e",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 1960,
        "wires": []
    },
    {
        "id": "de0073d8cbb954a4",
        "type": "change",
        "z": "4abd14ed2dee35be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "customHeaders.Authorization",
                "pt": "msg",
                "to": "TOKEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 2020,
        "wires": [
            [
                "8b8c8dd858645e74",
                "874860de72ce5e68"
            ]
        ]
    },
    {
        "id": "0b586f781013afbd",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 2080,
        "wires": []
    },
    {
        "id": "912d128e40fa2ef5",
        "type": "comment",
        "z": "4abd14ed2dee35be",
        "name": "TOKEN",
        "info": "Set TOKEN from https://labcom.cloud/pages/user-setting",
        "x": 1230,
        "y": 1960,
        "wires": []
    },
    {
        "id": "c181bf270fb15b83",
        "type": "change",
        "z": "4abd14ed2dee35be",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "customHeaders",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1880,
        "y": 2020,
        "wires": [
            [
                "12a89909a5a92be5"
            ]
        ]
    },
    {
        "id": "ed5548ce3c2c2756",
        "type": "complete",
        "z": "4abd14ed2dee35be",
        "name": "",
        "scope": [
            "dc5523d9d7653c06",
            "9bdab7811a5dca11",
            "8816ac67d53eb8d3",
            "1c87f3f598b1e1d7"
        ],
        "uncaught": false,
        "x": 110,
        "y": 2020,
        "wires": [
            [
                "14bc7eccd41b388b"
            ]
        ]
    },
    {
        "id": "12a89909a5a92be5",
        "type": "split",
        "z": "4abd14ed2dee35be",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 2110,
        "y": 2020,
        "wires": [
            [
                "b6f389f0c195182f"
            ]
        ]
    },
    {
        "id": "b6f389f0c195182f",
        "type": "switch",
        "z": "4abd14ed2dee35be",
        "name": "ActiveChlorine",
        "property": "payload.ActiveChlorine",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 1,
        "x": 2300,
        "y": 2020,
        "wires": [
            [
                "1f6836d0acf09894",
                "205aad1e6db386f3",
                "c72a92bb22069112"
            ]
        ]
    },
    {
        "id": "147365aab7367ad7",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1900,
        "wires": []
    },
    {
        "id": "18d103b20173a901",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 2180,
        "wires": []
    },
    {
        "id": "8b8c8dd858645e74",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1840,
        "wires": []
    },
    {
        "id": "14bc7eccd41b388b",
        "type": "delay",
        "z": "4abd14ed2dee35be",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 380,
        "y": 2020,
        "wires": [
            [
                "147365aab7367ad7",
                "94032e1915f7c103"
            ],
            [
                "18d103b20173a901"
            ]
        ]
    },
    {
        "id": "8712346d09610d66",
        "type": "function",
        "z": "4abd14ed2dee35be",
        "name": "compose message",
        "func": "var name = 'spa';\nvar type = 'chlorinefree'\nvar spacl = flow.get(name + type) || 0;\nvar name = 'spa';\nvar type = 'talka'\nvar spatalka = flow.get(name + type) || 0;\nvar name = 'spa';\nvar type = 'cya'\nvar spacya = flow.get(name + type) || 0;\nvar name = 'spa';\nvar type = 'ph'\nvar spaph = flow.get(name + type) || 0;\n\nvar temp = msg.payload.attributes.current_temperature;\nif (temp == \"unavailable\")\n    temp = \"25\";\nmsg.variables = {\n    \"input\": {\n        \"spacl\": spacl,\n        \"spatalka\": spatalka,\n        \"spacya\": spacya,\n        \"spaph\": spaph,\n        \"spatemp\": temp\n    }\n}\n\nmsg.payload = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2020,
        "wires": [
            [
                "de0073d8cbb954a4"
            ]
        ]
    },
    {
        "id": "94032e1915f7c103",
        "type": "api-current-state",
        "z": "4abd14ed2dee35be",
        "name": "temp",
        "server": "22775648.73a4ca",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.strand_heater",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 650,
        "y": 2020,
        "wires": [
            [
                "8712346d09610d66"
            ]
        ]
    },
    {
        "id": "92601e8b7c879f89",
        "type": "comment",
        "z": "4abd14ed2dee35be",
        "name": "spa ACTIVE CHOLINE",
        "info": "",
        "x": 120,
        "y": 1880,
        "wires": []
    },
    {
        "id": "1f6836d0acf09894",
        "type": "ha-sensor",
        "z": "4abd14ed2dee35be",
        "name": "SPA UnboundChlorine",
        "entityConfig": "4976a6ec2489de72",
        "version": 0,
        "state": "payload.ActiveChlorine.UnboundChlorine",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2620,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "205aad1e6db386f3",
        "type": "ha-sensor",
        "z": "4abd14ed2dee35be",
        "name": "SPA BoundToCYA",
        "entityConfig": "3c1f4c10ea6dfb2a",
        "version": 0,
        "state": "payload.ActiveChlorine.BoundToCYA",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2610,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "c72a92bb22069112",
        "type": "debug",
        "z": "4abd14ed2dee35be",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2580,
        "y": 1880,
        "wires": []
    },
    {
        "id": "1c87f3f598b1e1d7",
        "type": "ha-sensor",
        "z": "4abd14ed2dee35be",
        "name": "SPA PL Chlorine Free",
        "entityConfig": "1ef377c4092d81c7",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2280,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "8816ac67d53eb8d3",
        "type": "ha-sensor",
        "z": "4abd14ed2dee35be",
        "name": "SPA PL T-Alka",
        "entityConfig": "116c8e7db1b963d6",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2260,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "9bdab7811a5dca11",
        "type": "ha-sensor",
        "z": "4abd14ed2dee35be",
        "name": "SPA PL Cyanuric Acid",
        "entityConfig": "401af8fdebe46cd5",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2280,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "dc5523d9d7653c06",
        "type": "ha-sensor",
        "z": "4abd14ed2dee35be",
        "name": "SPA PL pH",
        "entityConfig": "3d364e275813cf33",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2250,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "5fba9c06f94d9906",
        "type": "comment",
        "z": "4abd14ed2dee35be",
        "name": "unknown account ID",
        "info": "",
        "x": 1150,
        "y": 940,
        "wires": []
    },
    {
        "id": "e2532d3071476e10",
        "type": "graphql-server",
        "name": "Labcom",
        "endpoint": "https://backend.labcom.cloud/graphql",
        "token": ""
    },
    {
        "id": "a92f7ee6b8f42b81",
        "type": "ha-entity-config",
        "server": "22775648.73a4ca",
        "deviceConfig": "",
        "name": "PL Chlorine Free",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "PL Chlorine Free"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "ppm"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": true
    },
    {
        "id": "cb3cdfb87ad20e82",
        "type": "ha-entity-config",
        "server": "22775648.73a4ca",
        "deviceConfig": "",
        "name": "PL T-Alka",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "PL T-Alka"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "ppm"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "2053ebe80b1475f9",
        "type": "ha-entity-config",
        "server": "22775648.73a4ca",
        "deviceConfig": "",
        "name": "PL Cyanuric Acid",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "PL Cyanuric Acid"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "ppm"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "970e543b6b175a31",
        "type": "ha-entity-config",
        "server": "22775648.73a4ca",
        "deviceConfig": "",
        "name": "PL Ph",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "PL Ph"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "Ph"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "22775648.73a4ca",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": false,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "1a33921cc8e552fe",
        "type": "ha-entity-config",
        "server": "22775648.73a4ca",
        "deviceConfig": "",
        "name": "PL UnboundChlorine",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "PL UnboundChlorine"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "60349df50a72126e",
        "type": "ha-entity-config",
        "server": "22775648.73a4ca",
        "deviceConfig": "",
        "name": "PL BoundToCYA",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "PL BoundToCYA"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "4976a6ec2489de72",
        "type": "ha-entity-config",
        "server": "22775648.73a4ca",
        "deviceConfig": "",
        "name": "SPA UnboundChlorine",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "SPA UnboundChlorine"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "3c1f4c10ea6dfb2a",
        "type": "ha-entity-config",
        "server": "22775648.73a4ca",
        "deviceConfig": "",
        "name": "SPA BoundToCYA",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "SPA BoundToCYA"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "1ef377c4092d81c7",
        "type": "ha-entity-config",
        "server": "22775648.73a4ca",
        "deviceConfig": "",
        "name": "SPA PL Chlorine Free",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "SPA PL Chlorine Free"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "116c8e7db1b963d6",
        "type": "ha-entity-config",
        "server": "22775648.73a4ca",
        "deviceConfig": "",
        "name": "SPA PL T-Alka",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "SPA PL T-Alka"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "401af8fdebe46cd5",
        "type": "ha-entity-config",
        "server": "22775648.73a4ca",
        "deviceConfig": "",
        "name": "SPA PL Cyanuric Acid",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "SPA PL Cyanuric Acid"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "3d364e275813cf33",
        "type": "ha-entity-config",
        "server": "22775648.73a4ca",
        "deviceConfig": "",
        "name": "SPA PL pH",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "SPA PL pH"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    }
]
